@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  color: #585858;
  letter-spacing: 0.3px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  /* border: solid 1px; */
}

p {
  font-size: 8pt;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* checkout component styling */

.checkout-container {
  padding-left: 24px !important;
  padding-right: 24px !important;
  margin-top: 50px;
  width: 300px;
  border: solid 1.2px #e4e4e4;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fa-question-circle {
  color: #909090;
}
.fa-star {
  color: #1a9488;
  font-size: 6pt;
}

.fa-chevron-down {
  font-size: 12pt;
  padding-right: 8px;
  color: #707070;
}

.fa-chevron-up {
  font-size: 12pt;
  padding-right: 8px;
  color: #707070;
}

.fa-long-arrow-alt-right {
  font-size: 12pt;
  padding: 5px;
  border-top: solid 1.1px #e4e4e4;
  border-bottom: solid 1.1px #e4e4e4;
}

.dates {
  margin-top: 5px;
}

.prices-container {
  text-align: left;
}

.prices-container p {
  font-size: 10pt;
  font-weight: 400;
  color: #484848;
}

.start-date-active {
  background-color: #94f0f1;
  opacity: 0.9;
  padding: 0px 20px 0px 5px;
  border-radius: 3px;
}

.end-date-active {
  background-color: #94f0f1;
  opacity: 0.9;
  padding: 0px 5px 0px 20px;
  border-radius: 3px;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: -30px;
  margin-bottom: 5px;
}

.rating {
  font-weight: 600;
}

.rating p {
  padding-left: 22px;
}

.reviews {
  color: #808080;
  font-weight: 400;
}

.daily-cost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  border-bottom: solid 1px #e4e4e4;
  margin-top: -5px;
}

.daily-cost h4 {
  font-size: 14pt;
}

.daily-cost span {
  font-size: 8pt;
  font-weight: 600;
}

.col {
  text-align: left;
  letter-spacing: 0px;
}

.date-picker {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: solid 0.8px #e4e4e4;
  padding: 10px;
  padding-left: 14px;
  padding-right: 44px;
  margin-top: -5px;
}

.date-picker p {
  font-size: 10pt;
  font-weight: 400;
  margin: 0;
}

.guest-selection-card {
  position: absolute;
  background-color: #fff;
  width: 298px;
  border:solid 1px #e4e4e4;
  border-radius: 4px;
  margin-top: -8px;
  border-top: solid 2px #1a9488;
  box-shadow: 2px #c9c9c9;
}

.guest-btn {
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: space-between;
  background-color: #fff;
  margin-top: -5px;
  text-align: left;
  border: solid 0.8px #e4e4e4;
  padding: 8px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.guest-btn p {
  font-size: 11pt;
  font-weight: 400;
  margin: 0;
}

.guest-btn:focus {
  border: solid 0.8px #a1a1a1;
}

.guest-row {
  display: flex;
  justify-content: space-between;
  height: 53px;
}

.guest-row h5 {
  font-size: 11pt;
  font-weight: 600;
  letter-spacing: 0px;
}

.guest-row p {
  margin-top: -20px;
  font-size: 9pt;
  font-weight: 300;
  color: #383838;
}

.guest-info {
  display: flex;
  flex-direction: row;
}

.infant-info {
  padding-left: 5px;
}

.close-section {
  justify-content: flex-end;
  padding-right: 10px;
}

.close-section button:focus {
  outline: none;
}

.guest-description {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  width: 125px;
}

.bad-practice {
  margin-top: -10px;
}

.guest-selection {
  display: flex;
  padding: 15px;
  width: 120px;
  justify-content: space-evenly;
}

.non-targetable-btn {
  opacity: 0.3;
}

.guest-selection h5 {
  padding: 25px;
  margin-top: -17px;
}

.guest-selection button {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  border: solid 1px #1a9488;
  color: #1a9488;
  font-size: 11pt;
}

.guest-selection button:focus {
  outline: none;
}

.guest-card-close-btn {
  border: none;
  color: #1a9488;
  font-size: 11pt;
  font-weight: 600;
}

.guest-prompt {
  padding-left: 15px;
  padding-right: 40px;
}

.guest-prompt h6 {
  font-size: 9pt;
  font-weight: 300;
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #e4e4e4;
}

.total {
  padding-bottom: 10px;
}

.total p {
  font-weight: 600;
}

.reserve-btn {
  background-color: #ff5a5f;
  padding: 11px 11px 11px;
  border: none;
  width: 100%;
  border-radius: 3px;
  font-size: 10pt;
  font-weight: 700;
  color: #fff;
}

.charge-comment {
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 5px;
}

.charge-comment p {
  letter-spacing: 0px;
}


